@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:20px 0;
}
.logo{
    height:50px;
    width:50px;
}
.navbar-logo p{
    font-weight: 700;
    font-size: 40px;
    font-family: "Caveat", cursive;
    color:orange
}
.navbar-logo{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    gap:10px;
}
.navbar-icon-button{
    font-size: 30px;
    color:lightslategrey;
    outline: none;
    border: none;
    padding-left: 0;
    padding-right: 0;
}
.navbar-buttons{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.login{
    background: transparent;
    color: lightslategrey;
    border: 1px solid lightslategrey;
    padding:10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.login:hover{
    background: #e9ecef;
}

.login-modal-header{
border-bottom:none;
}
.login-modal-body{
    display:flex;
    flex-direction: column;
    gap: 20px;

}

.login-modal-footer{
    border-top: none;
    display:flex;
    justify-content: center;
      padding-bottom: 20px;
}
.login-modal-footer button{
    width: 70%;
}
.login-modal-body-text{
    display: flex;
    align-items: center;
}

.login-modal-body-text button{
    color:#0d6efd;
    border: none;
    padding: 0;
    padding-left: 10px;
}