body{
   font-family: "Poppins", sans-serif;
}

/* Set container to full screen */
.landing-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  
  /* Style the video background */
  .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the whole area */
    z-index: -1; /* Behind the content */
  }

  /* Navbar styling */
.navbar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  z-index: 2;
}

.landing-navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  gap: 30px;
}

.landing-navbar li {
  display: inline;
}

.landing-navbar a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-family: "Arial", sans-serif;
  font-weight: 600;
}

.landing-navbar a:hover {
  color: orange;
}
  
  /* Style for overlay content */
  .content-overlay {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 20px;
   }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
     font-family: "Caveat", cursive;
    color: orange;
  }
  
  p {
        margin-bottom: 2rem;
        font-weight: 500;
  }
  
  .ordernow-btn{
    padding: 10px 20px;
    margin-top: 2rem;
    font-size: 1.2rem;
    background-color: orange;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    font-weight: 600;
  }
  
  .ordernow-btn:hover {
    background-color: #ff4500;
  }

  .logo-landing{
    height:20vh;
  }

  .location-search-div {
    height: 50px;
    background-color: white;
     color: black;
    align-items: center;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    width: 600px;
    margin: 0 auto; /* Center the div */
    padding:0 20px;
}

.location-div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    height: 50px;
    padding: 0 10px;
    
 }

.location-dropdown {
      /* font-size: 1rem; */
      border:none;
      outline: none;
      background-color: transparent;
      height: 48px;
      flex-grow: 1;
  }


.vertical-line {
    width: 2px; /* Width of the vertical line */
    background-color: lightgrey; /* Color of the line */
    height: 30px; /* Height of the line */
    margin-left: 10px; /* Space between dropdown and line */
}
.location-icon{
  font-size: 25px;
  color:orange
}

.search-icon{
  color:rgb(164, 163, 163);
  font-size: 20px;
}
.landing-search-input{
  height: 48px;
  border:none;
  outline:none;
  width:90%;
  background-color: transparent;
}
.location-div-mobile,.landing-search-div-mobile{
  height:50px;
  color: white;
  align-items: center;
  border-radius: 6px;
  border:1px solid orange;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 0 20px;
}

.location-dropdown-mobile {
  /* font-size: 1rem; */
  border:none;
  outline: none;
  width:90%;
  background-color: transparent;
  color: white;
  height: 48px;
}
.landing-search-div-mobile{
  margin-top: 2rem;
  align-items: center;
}

.landing-search-input-mobile{
  height: 48px;
  border:none;
  outline:none;
  width:90%;
  background-color: transparent;
  color: white;  
}
.landing-search-input-mobile::placeholder{
  color: white;
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .location-div-mobile,.landing-search-div-mobile{
    width:60%;
    margin: 2rem auto;

  }
}